<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
</head>
<body>
    <h1>Sửa Sinh Viên</h1>
    <form action="/sinhvien/edit/<%= sinhVien._id %>" method="POST">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" value="<%= sinhVien.id %>" required><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= sinhVien.name %>" required><br><br>
        <input type="submit" value="Sửa Sinh Viên">
    </form>
</body>
</html>
